<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>BIG KLUB</title>

<link rel="icon" type="image/png" href="img/favicon.png" />
<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="bower_components/datetimepicker/build/jquery.datetimepicker.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/typeaheadjs.css" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
  integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
  crossorigin=""/>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="bower_components/datetimepicker/build/jquery.datetimepicker.full.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/typeahead.js/dist/typeahead.bundle.min.js"></script>
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
  integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
  crossorigin=""></script>
<script src="js/util.js"></script>
<script src="js/map.js"></script>

</head>

<body>
  <input id="editing" type="hidden" th:value="${editing}">
  <input id="defaultlang" type="hidden" th:value="${defaultlang}">
  <input id="startDateTmp" type="hidden" th:value="${event.start}">
  <input id="endDateTmp" type="hidden" th:value="${event.end}">

  <div class="container">
        <div class="header clearfix">
          <span th:replace="header :: copy"></span>
        </div>

        <div class="jumbotron block-content">
          <h2 th:if="${event.id != 0}">
            Evento ID: <span id="id" th:text="${event.id}">XX</span>
          </h2>

          <input id="eventId" name="eventId" type="hidden" th:value="${event.id}">

          <form th:if="${editing}" class="form-horizontal" action="deleteEvent" method="POST">
            <input name="lang" type="hidden" th:value="${event.lang}">
            <input id="deletedEventId" name="deletedEventId" type="hidden" th:value="${event.id}">
            <button th:if="${defaultlang}" type="submit" class="btn btn-danger pull-right">Borrar evento</button>
            <button th:if="${not defaultlang}" type="submit" class="btn btn-danger pull-right">Borrar traducción</button>
          </form>

          <span th:if="${event.id == 0}">
            <p class="lead"> Nuevo evento</p>
          </span>

          <h3>Idioma</h3>
          <ul class="nav nav-tabs">
              <li th:each="lang : ${langs}" th:class="${lang == event.lang}? 'active' : _ "><a href="#" onclick="langClick(this);" th:text="${lang}">XX</a></li>
          </ul>

          <h4 id="message" class="red"></h4>

          <form id="eventForm" class="form-horizontal">
            <input id="lang" name="lang" type="hidden" th:value="${event.lang}">

            <div class="form-group">
              <label class="control-label col-md-2">Título</label>
               <div class="col-md-4">
                 <input id="title" name="title" class="form-control" type="text" th:value="${event.title}">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-2">Descripción</label>
              <div class="col-md-4">
                <input id="description" name="description" class="form-control" type="text" th:value="${event.description}">
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-2">Máximo asistentes</label>
              <div class="col-md-1">
                <input id="maxattendants" name="maxattendants" class="form-control" type="text"
                  maxlength="4" style="text-align:right;" th:value="${event.maxattendants}" th:disabled="${not defaultlang}">
              </div>
            </div>

            <div class="form-group">
              <div class="form-group row">
                <label class="control-label col-md-2">Fecha de comienzo</label>
                <div class="col-md-3">
                  <input id="startDate" name="startDate" class="form-control" type="text" th:disabled="${not defaultlang}">
                </div>
                <label class="control-label col-md-2">Fecha de fin</label>
                <div class="col-md-3">
                  <input id="endDate" name="endDate" class="form-control" type="text" th:disabled="${not defaultlang}">
                </div>
              </div>
            </div>

            <div class="panel panel-info">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#collapse1"><span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span> Detalle de horas</a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse block-content">
                <div class="form-group">
                  <div class="col-md-5 text-center">
                    <label class="control-label">Inicio</label>
                  </div>
                  <div class="col-md-5 text-center">
                    <label class="control-label">Fin</label>
                  </div>
                  <div class="col-md-2 text-center">
                    <input th:id="add-timeperiod" onclick="addTimePeriod()" type="button" class="btn btn-primary" value="+" th:disabled="${not defaultlang}">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-5">
                    <div class="col-md-4 text-center">
                      <label class="control-label">Dia Semana</label>
                    </div>
                    <div class="col-md-4 text-center">
                      <label class="control-label">Fecha</label>
                    </div>
                    <div class="col-md-4 text-center">
                      <label class="control-label">Hora</label>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="col-md-4 text-center">
                      <label class="control-label">Dia Semana</label>
                    </div>
                    <div class="col-md-4 text-center">
                      <label class="control-label">Fecha</label>
                    </div>
                    <div class="col-md-4 text-center">
                      <label class="control-label">Hora</label>
                    </div>
                  </div>
                </div>

                <div class="form-group" th:each="timeperiod, iterStat : ${event.schedule}" th:id="|schedule-group-${iterStat.count}|" th:disabled="${not defaultlang}">
                  <input th:id="|timeperiod-id-${iterStat.count}|" th:name="|timeperiod-id-${iterStat.count}|" type="hidden" th:value="${timeperiod.id}"/>

                  <div class="col-md-5">
                    <div class="col-md-4">
                      <select th:id="|timeperiod-day-start-${iterStat.count}|" th:name="|timeperiod-day-start-${iterStat.count}|" class="form-control" th:disabled="${not defaultlang}">
                        <option th:each="day : ${weekDaysMap.entrySet()}" th:value="${day.getKey()}" th:text="${day.getValue()}" th:selected="${day.getKey() == timeperiod.start.day.toString()}"></option>
                      </select>
                    </div>

                    <div class="col-md-4">
                      <input th:id="|timeperiod-date-start-${iterStat.count}|" th:name="|timeperiod-date-start-${iterStat.count}|" class="form-control" type="text" th:value="${timeperiod.start.date}" th:disabled="${not defaultlang}">
                    </div>

                    <div class="col-md-4">
                      <input th:id="|timeperiod-time-start-${iterStat.count}|" th:name="|timeperiod-date-start-${iterStat.count}|" class="form-control" type="text" th:value="${timeperiod.start.time}" th:disabled="${not defaultlang}">
                    </div>
                  </div>

                  <div class="col-md-5">
                    <div class="col-md-4">
                      <select th:id="|timeperiod-day-end-${iterStat.count}|" th:name="|timeperiod-day-end-${iterStat.count}|" class="form-control" th:disabled="${not defaultlang}">
                        <option th:each="day : ${weekDaysMap.entrySet()}" th:value="${day.getKey()}" th:text="${day.getValue()}" th:selected="${day.getKey() == timeperiod.end.day.toString()}"></option>
                      </select>
                    </div>

                    <div class="col-md-4">
                      <input th:id="|timeperiod-date-end-${iterStat.count}|" th:name="|timeperiod-date-end-${iterStat.count}|" class="form-control" type="text" th:value="${timeperiod.end.date}" th:disabled="${not defaultlang}">
                    </div>

                    <div class="col-md-4">
                      <input th:id="|timeperiod-time-end-${iterStat.count}|" th:name="|timeperiod-endtime-${iterStat.count}|" class="form-control" type="text" th:value="${timeperiod.end.time}" th:disabled="${not defaultlang}">
                    </div>

                  </div>

                  <div class="col-md-2 text-center">
                    <input th:id="|remove-timeperiod-${iterStat.count}|" th:onclick="|removeTimePeriod(${iterStat.count})|" type="button" class="btn btn-danger" value="-" th:disabled="${not defaultlang}">
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-2">URL Material</label>
              <div class="col-md-4">
                <input id="material" name="material" class="form-control" type="text" th:value="${event.material}" th:disabled="${not defaultlang}">
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-2">Localización</label>
              <div class="col-md-4">
                <input id="location" name="location" class="form-control" type="text" th:value="${event.location}">
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-2">Encuesta asociada</label>
              <div class="col-md-6">
                <select id="surveyId" class="form-control" th:disabled="${not defaultlang}">
                  <option th:each="survey : ${surveys}" th:value="${survey.id}" th:text="|${survey.id} - ${survey.title}|" th:selected="${survey.id == event.surveyId}"/>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-2">Contenidos</label>
              <div class="col-md-6">
                <textarea id="contents" class="form-control" th:text="${event.contents}" rows="10"></textarea>
              </div>
            </div>

            <div class="panel panel-info">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#collapse2"><span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span> Búsqueda de coordenadas</a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse block-content">
                <div class="form-group">
                  <label class="control-label col-md-2">Lat</label>
                  <div class="col-md-3">
                    <input id="latitude" name="latitude" class="form-control" type="text" th:value="${event.latitude}" th:disabled="${not defaultlang}">
                  </div>
                  <label class="control-label col-md-2">Lon</label>
                  <div class="col-md-3">
                    <input id="longitude" name="longitude" class="form-control" type="text" th:value="${event.longitude}" th:disabled="${not defaultlang}">
                  </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                      <div id="mapid"></div>
                    </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-2">Buscar</label>
                  <div class="col-md-5">
                    <input id="place-search" name="pleace-search" class="form-control" type="text" th:disabled="${not defaultlang}">
                  </div>
                </div>
              </div>
            </div>

            <input id="returnButton" type="button" class="btn btn-info" value="Volver">
            <button id="saveButton" type="submit" class="btn btn-primary pull-right" disabled>Guardar</button>
          </form>

        </div>

        <div th:replace="footer :: copy"></div>

      </div> <!-- /container -->

<script>
  $.datetimepicker.setLocale('es');

  $("#startDate, #endDate").datetimepicker({
    format: "Y-m-d H:i:00",
    step: 5,
    todayButton: true,
    startDate:'+2017/01/01',
    onChangeDateTime: function(dp,$input) {
      pendingChanges();
    }
  });

  $("#startDate").val($("#startDateTmp").val().replace("T", " "));
  $("#endDate").val($("#endDateTmp").val().replace("T", " "));

  $("#returnButton").click(function() {
    window.location = 'listEvents';
  });

  jQuery.validator.addMethod('greaterThan', function (value, element, param) {
    return $("[name=" + param + "]").val() < value;
  });

  $("#eventForm").validate({
    rules: {
      title: "required",
      startDate: {
        required: true,
        date: true
      },
      endDate: {
        greaterThan: "startDate",
        required: true,
        date: true
      },
      maxattendants: {
        required: true,
        number: true,
        min: 0
      },
      material: {
        required: false,
        url: true
      },
      latitude: {
        number: false
      },
      longitude: {
        number: false
      }
    },
    messages: {
      title: "Campo requerido",
      startDate: {
        required: "Campo requerido",
        date: "Fecha inválida"
      },
      endDate: {
        required: "Campo requerido",
        greaterThan: "Debe ser mayor que la fecha de inicio",
        date: "Fecha inválida"
      },
      maxattendants: {
        required: "Campo requerido. Introducir 0 si no existe límite",
        number: "Se esperaba un número",
        min: "Introduzca un número mayor o igual que cero."
      },
      material: {
        url: "URL inválida"
      },
      latitude: {
        number: "Coordenada inválida"
      },
      longitude: {
        number: "Coordenada inválida"
      }
    },
    submitHandler: function(form) {
      var event = {
        id: $("#eventId").val(),
        title: $("#title").val(),
        description: $("#description").val(),
        maxAttendants: $("#maxattendants").val(),
        material: $("#material").val(),
        location: $("#location").val(),
        contents: $("#contents").val(),
        start: $("#startDate").val().replace(" ", "T"),
        end: $("#endDate").val().replace(" ", "T"),
        latitude: $("#latitude").val(),
        longitude: $("#longitude").val(),
        surveyId: $("#surveyId").val(),
        schedule: processSchedule(),
        lang: $(".nav .active a").text()
      }

      var edit = $("#editing").val() == "true"
      postEventData(event, edit);
    }
  });

  $("#eventForm input, #eventForm textarea, #eventForm select").bind('input', function() {
    pendingChanges();
  });

  $('#place-search').typeahead(
	{
  	minLength: 3,
  	highlight: true
	},
  {
    name: 'search',
    displayKey: 'displayName',
    source: function(query, sync, async) {
      var getURL = 'https://nominatim.openstreetmap.org/search/' + encodeURIComponent(query) + '?format=json&countrycodes=ES&addressdetails=1';
      console.log(getURL);
      $.ajax({
        url: getURL,
        type: 'GET',
        dataType: 'json',
        success: function(data) {
          var values = [];
          for (var i = 0; i < data.length; i++) {
            var type = data[i].type;
            var address = data[i].address;
            values.push({'displayName': data[i].display_name, 'lat': data[i].lat, 'lon': data[i].lon});
          }
        	return async(values);
        },
        error: function(e) {
          errorMessage("Error. No se ha podido obtener la información de ");
        },
      });
    }
  });

  $('#place-search').on('typeahead:selected', function (e, data) {
    $("#latitude").val(data.lat);
    $("#longitude").val(data.lon);
    centerMap(data.lat, data.lon);
  });

  var coords = [43.262987493472735, -2.9349160194396977];
  if ($("#latitude").val() && $("#longitude").val()) {
    coords = [$("#latitude").val(), $("#longitude").val()];
  }

  if ($("#defaultlang").val() == "false") {
    disableInteraction();
  }

  $("[id^=timeperiod-date-]").each(function() {
    addDatePicker(this);
  })

  $("[id^=timeperiod-time-]").each(function() {
    addTimePicker(this);
  })

  function processSchedule() {
    var schedule = [];
    $("[id^=schedule-group-]").each(function () {
      var id = Number($(this).find('[id^=timeperiod-id-]').val());

      var day = $(this).find('[id^=timeperiod-day-start-]').val();
      var date = $(this).find('[id^=timeperiod-date-start-]').val();
      var time = $(this).find('[id^=timeperiod-time-start-]').val();
      var start = {'day': day, 'date': date, 'time': time};

      var day = $(this).find('[id^=timeperiod-day-end-]').val();
      var date = $(this).find('[id^=timeperiod-date-end-]').val();
      var time = $(this).find('[id^=timeperiod-time-end-]').val();
      var end = {'day': day, 'date': date, 'time': time};

      var period = {'id': id, 'start': start, 'end': end};
      schedule.push(period);
    });

    return schedule;
  }

  $('#collapse2').on('shown.bs.collapse', function () {
    initMap(coords, function(lat, lon) {
      $("#latitude").val(lat);
      $("#longitude").val(lon);
    });
  })
</script>
</body>

</html>
