<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>BIG KLUB</title>

<link rel="icon" type="image/png" href="img/favicon.png" />
<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="bower_components/jquery-ui/themes/base/jquery-ui.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="bower_components/jquery-ui/ui/i18n/datepicker-es.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/util.js"></script>

</head>

<body>
  <div class="container">
        <div class="header clearfix">
          <span th:replace="header :: copy"></span>
        </div>

        <div></div>

        <div class="jumbotron">
          <h2>Eventos registrados</h2>

          <div class="row block-content">
            <div class="col-md-10">
              <form id="filterForm" class="form-inline" method="POST">
                <button class="btn btn-primary" type="submit">Filtrar</button>

                <div class="form-group">
                  <label>Desde:</label>
                  <input id="fromDate" name="fromDate" class="form-control" type="text" size="10" th:value="${fromDate}">
                </div>

                <div class="form-group">
                  <label style="margin-left: 30px;">Hasta:</label>
                  <input id="toDate" name="toDate" class="form-control" type="text" size="10" th:value="${toDate}">
                </div>
              </form>
            </div>
            <div class="col-md-2">
              <input id="addEvent" type="button" class="btn btn-primary pull-right" value="Nuevo evento">
            </div>
          </div>

          <br>
          <br>

          <a class="btn btn-success" th:onclick="|location.href='downloadUsers'|"><span class="glyphicon glyphicon-download"></span> Lista de usuarios registrados</a>

          <hr>

          <div class="row">
            <table class="table table-striped">
              <thead>
                <th class="text-center">Id</th>
                <th class="text-center">Título</th>
                <th class="text-center">Comienzo</th>
                <th class="text-center">Fin</th>
                <th class="text-center">Max/Inscritos/Confirmados/Asistentes</th>
                <th class="text-center">Resp. encuestas</th>
                <th class="text-center">Editar</th>
                <th class="text-center">Lista de inscritos</th>
              </thead>
              <tbody>
                <tr th:each="event, iterStat : ${events}">
                  <td class="text-center" th:text="${event.id}"/>
                  <td class="text-center" th:text="${event.title}"/>
                  <td class="text-center" th:text="${event.start}"/>
                  <td class="text-center" th:text="${event.end}"/>
                  <td class="text-center" th:text="|${event.maxattendants}/${attendants[iterStat.index].num}/${attendants[iterStat.index].accepted}/${attendants[iterStat.index].checked}"></td>
                  <td class="text-center">
                    <a href="#" th:onclick="|location.href='downloadSurvey?surveyId=${event.surveyId}&amp;objectId=${event.id}'|" th:text="${responses[iterStat.index].num}"/>
                  </td>
                  <td class="text-center">
                    <a th:id="|editEvent${event.id}|" th:onclick="|editButton(${event.id})|" href="#" class="btn btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
                  </td>
                  <td class="text-center">
                    <a th:id="|editEvent${event.id}|" th:onclick="|listAttendants(${event.id})|" href="#" class="btn btn-xs"><span class="glyphicon glyphicon-user"></span></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>

        <div th:replace="footer :: copy"></div>

      </div> <!-- /container -->

<script>
  $("#fromDate, #toDate").datepicker({
    dateFormat: "yy-mm-dd",
  });

  // if (!$("#fromDate").val()) {
  //   $("#fromDate").datepicker("setDate", new Date());
  // }

  $("#addEvent").click(function() {
    location.href = 'newEvent';
  });

  jQuery.validator.addMethod('greaterThan', function (value, element, param) {
    return $("[name=" + param + "]").val() < value || value.length == 0;
  });

  $("#filterForm").validate({
    rules: {
      fromDate: {
        date: true
      },
      toDate: {
        greaterThan: "fromDate",
        date: true
      }
    },
    messages: {
      fromDate: {
        date: "Fecha inválida"
      },
      toDate: {
        greaterThan: "Debe ser mayor que la fecha de inicio",
        date: "Fecha inválida"
      }
    }
  });
</script>
</body>

</html>
