<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>BIG KLUB</title>

<link rel="icon" type="image/png" href="img/favicon.png" />
<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="bower_components/jquery-ui/themes/base/jquery-ui.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/typeaheadjs.css" rel="stylesheet">
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="bower_components/jquery-ui/ui/i18n/datepicker-es.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/typeahead.js/dist/typeahead.bundle.min.js"></script>
<script src="js/util.js"></script>

</head>

<body>
  <input id="weliveapi" type="hidden" th:value="${weliveapi}">
  <input id="token" type="hidden" th:value="${token}">
  <input id="startDateTmp" type="hidden" th:value="${event.start}">
  <input id="endDateTmp" type="hidden" th:value="${event.end}">
  <input id="eventId" type="hidden" th:value="${event.id}">

  <div class="container">
    <div class="header clearfix">
      <span th:replace="header :: copy"></span>
    </div>

    <div class="jumbotron">
      <h2>Listado de inscritos</h2>

      <div class="row block-content">
        <div class="col-md-12">
          <form id="eventForm" action="" class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-sm-2">Título:</label>
               <div class="col-sm-4">
                 <input id="title" name="title" class="form-control" type="text" th:value="${event.title}" disabled>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="control-label col-sm-2">Fecha de comienzo:</label>
                  <div class="col-xs-3">
                    <input id="startDate" name="startDate" class="form-control" type="text" disabled>
                  </div>
                  <label class="control-label col-sm-2">Fecha de fin:</label>
                  <div class="col-sm-3">
                    <input id="endDate" name="endDate" class="form-control" type="text" disabled>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2">Localización:</label>
              <div class="col-sm-4">
                <input id="location" name="description" class="form-control" type="text" th:value="${event.location}" disabled>
              </div>
            </div>
            <input id="returnButton" type="button" class="btn btn-info pull-right" value="Volver">
          </form>
        </div>
      </div>

      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Title</h4>
            </div>
            <div class="modal-body">
              <h5>Some text in the modal.</h5>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
          </div>

        </div>
      </div>

      <a class="btn btn-success" th:onclick="|location.href='downloadAttendants?eventId=${event.id}'|"><span class="glyphicon glyphicon-download"></span> Lista de inscritos</a>
      <a class="btn btn-success" href="#" th:onclick="|location.href='downloadSurvey?surveyId=${event.surveyId}&amp;objectId=${event.id}'|"><span class="glyphicon glyphicon-download"></span> Respuestas</a>

      <div class="row">
        <div class="col-md-2">
          <h4>Máximo: <span th:text="|${event.maxattendants}|">XX</span></h4>
        </div>
        <div class="col-md-2">
          <h4>Inscritos: <span th:text="|${numattendants}|">XX</span></h4>
        </div>
        <div class="col-md-2">
          <h4>Confirmados: <span th:text="${numaccepted}">XX</span></h4>
        </div>
        <div class="col-md-2">
          <h4>Asistentes: <span th:text="${numchecked}">XX</span></h4>
        </div>
        <div class="col-md-2">
          <h4>Respuestas: <span th:text="${numresponses}">XX</span></h4>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-12">
          <table class="table table-striped">
            <thead>
              <th class="text-center">Categoría</th>
              <th class="text-center">Contacto</th>
              <th class="text-center">E-mail <a onclick="showAllEmails();"><span class="glyphicon glyphicon-envelope"/></a></th>
              <th class="text-center">Tfno.</th>
              <th class="text-center">¿Confirmado? <a onclick="showAcceptedEmails();"> <span class="glyphicon glyphicon-envelope"/></a></th>
              <th class="text-center">¿Asistente? <a onclick="showCheckinEmails();"><span class="glyphicon glyphicon-envelope"/></a></th>
              <th class="text-center">Eliminar</th>
            </thead>
          <tbody>
            <tr th:each="att, status : ${attendants}">
              <td class="text-center" th:if="${att.category == 'company'}"><span class="glyphicon glyphicon-home"/></td>
              <td class="text-center" th:if="${att.category == 'entrepreneur'}"><span class="glyphicon glyphicon-user"/></td>
              <td class="text-center" th:if="${att.category == 'bigklub_company'}"><img src="img/big-klub_icon.png" height="32" width="32"></td>
              <td class="text-center" th:text="${att.getFullName()}"></td>
              <td th:id="|email-${status.index}|" class="text-center" th:text="${att.email}"></td>
              <td th:id="|phone-${status.index}|" class="text-center" th:text="${att.phone}"></td>
              <td class="text-center"><input th:id="|accepted-checkBox-${att.userid}|" type="checkbox" th:checked="${att.accepted}" th:onclick="|clickAcceptedCheckBox(${event.id}, ${att.userid})|"></td>
              <td class="text-center"><input th:id="|checkin-checkBox-${att.userid}|" type="checkbox" th:checked="${att.checkin}" th:onclick="|clickCheckinCheckBox(${event.id}, ${att.userid})|"></td>
              <td class="text-center"><a th:onclick="|removeUser(${att.userid});|"><span class="glyphicon glyphicon-remove" style="color:red"/></a></td>
            </tr>
          </tbody>
          </table>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>

    <div th:replace="footer :: copy"></div>

  </div>

<script>
  $("#startDate").val($("#startDateTmp").val().replace("T", " "));
  $("#endDate").val($("#endDateTmp").val().replace("T", " "));

  $("#returnButton").click(function() {
    window.location = 'listEvents';
  });

  function showAllEmails() {
    var emails = "";
    $('td[id^="email-"]').each(function () {
      emails += $(this).text() + "; ";
    });

    $("#myModal .modal-title").text("Todos (E-mails)");
    $("#myModal .modal-body").text(emails);
    $("#myModal").modal("show");
  };

  function showAcceptedEmails() {
    var emails = "";
    $("tbody tr").each(function() {
      var email = $(this).children('td').eq(1);
      var accepted =  $(this).children('td').eq(2).children().first();
      if ($(accepted).prop('checked')) {
        emails += email.text() + "; ";
      }
    });

    $("#myModal .modal-title").text("Aceptados (E-mails)");
    $("#myModal .modal-body").text(emails);
    $("#myModal").modal("show");
  };

  function showCheckinEmails() {
    var emails = "";
    $("tbody tr").each(function() {
      var email = $(this).children('td').eq(1);
      var checkin =  $(this).children('td').eq(3).children().first();
      if ($(checkin).prop('checked')) {
        emails += email.text() + "; ";
      }
    });

    $("#myModal .modal-title").text("Asistentes (E-mails)");
    $("#myModal .modal-body").text(emails);
    $("#myModal").modal("show");
  };

  function removeUser(userId) {
    window.location = 'removeAttendant?event_id=' + $("#eventId").val() + '&user_id=' + userId;
  };
</script>
</body>

</html>
