.block-content {
  margin-bottom: 5px;
  padding: 15px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.modal-body p {
  word-wrap: break-word;
  font-size: 100%;
  font-style: italic;
}

#mapid {
  height: 200px;
  width: 80%;
  background: black;
}
